{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <!-- Title Section -->
    <h1 class="display-5 fw-bold text-primary mb-3">Zone Link</h1>
    <p class="text-secondary">
        Streamline your logistics management with tools for assigning couriers to specific neighborhoods and manage their data.
    </p>

    <!-- Features Section -->
    {% if not user.is_authenticated %}

    <p><strong>Automated Courier Search</strong></p>

    {% endif %}

    <!-- Call-to-Action Buttons -->
    <div class="mt-5">
        {% if user.is_authenticated %}
        <a href="{% url 'viewer:search_courier' %}" class="btn btn-primary btn-lg shadow-sm me-2">
            Search for Couriers
        </a>
        {% endif %}

        {% if not user.is_authenticated %}
        <a href="{% url 'viewer:subscriptions' %}" class="btn btn-outline-primary btn-lg shadow-sm">
            Our Services
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
